// SK Base Colors
$green: #b1c11b;
$charcoal: #252525;
$navy: #1b2838;
$blue: #00bbe1;
$dark_blue_grey: #525e71;
$med_blue_grey: #6f7b8b;
$light_blue_grey: #8f969f;
$off_white: #e9eaec;

// SK Extended Colors
$dark_grey: #424a4d;
$light_grey: #929292;
$sea_green: #75b691;
$teal: #378283;
$dark_blue: #074369;
$plum: #6b3149;
$red: #ab3142;
$orange: #cf5738;
$mustard: #d1982a;